.nav-links li{
    margin: 0 15px;
}
.nav-links a{
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: block;
}
.nav-links a:hover {
    background-color: #575757;
    border-radius: 4px;
}